body {
  background-color: white;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  margin: 20px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
a:hover{
  color: #EAf6F6;
}
p {
  text-align: center;

  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto 100px auto;
}

.Topcontainer {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;

}

.Midcontainer {
  margin: 100px 0 ;
}

.Botcontainer {

  background-color: #66BFBF;
  padding: 40px 0 20px;
  text-align: center;


}

.Web {
  text-decoration: underline;
}

.botcloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.topcloud {
  position: absolute;
  top: 40px;
  right: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}

.primeiraimg {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.alienimg {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.profile {
  width: 40%;
  margin: 100px auto 100px auto;
  line-height: 2;
}

.empresa-p {
  color: #EAF6F6;
  font-size: 0.75rem;
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.contact-me{
  width: 40%;
  margin: 40px auto 60px ;
  text-align: center;
  line-height: 2;


}
.btn {
  position: relative;
  top: 20px;
  background: #30e3cb;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
}

.btn:hover{
  margin: 100px;
  background: #2bc4ad;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;

}
